
.combineButton {
    --combine-button-width: 3rem;
    width: var(--combine-button-width);
    display: flex;
    position: relative;
}

.combineButton > button {

}

.combineButtonLeft {
    --combine-button-left-width: 1.75rem;
    width: var(--combine-button-left-width);
    border-right: 1px solid var(--borderColor-default);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.combineButtonRight {
    width: calc(var(--combine-button-width) -
    var(--combine-button-left-width));
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.copilotMenu {
    /*border: 1px solid black;*/
    box-shadow: 0 0 5px 1px #d3d3d3;
    border-radius: 0.5rem;
    position: absolute;
    top: 2.2rem;
    left: -11rem;

    padding: 0.75rem 0.5rem;
    height: 10.5rem;
    width: 13rem;

    z-index: var(--normal-z-index);
    background-color: white;
}

.menuHr {
    margin-left: -0.6rem;
    margin-right: -0.6rem;
}

.copilotMenuTitle {
    color: dimgray;
    margin-bottom: 0.25rem;
    font-size: 0.75rem;
    font-weight: bold;
    padding: 0 0.5rem;
}

.copilotMenuRowSpan {
    display: flex;
    height: 2rem;
    align-items: center;
    font-size: 0.85rem;
}

.iconSpan {
    margin-right: 0.5rem;
}

.copilotMenuUpperRow {
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    border-radius: 0.5rem;
}

.copilotMenuBelowRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
    border-radius: 0.5rem;
}

.copilotMenuBelowRowDiv {
    display: flex;
}

.menuIcon {

}

.spanFree {
    height: 0.75rem;
    padding: 0.25rem;
    font-size: 0.75rem;
    font-weight: bold;
    border: #8f8f8f solid 1px;
    border-radius: 0.75rem;
}

.copilotMenuUpperRow:hover,
.copilotMenuBelowRow:hover {
    background-color: gainsboro;
    cursor: pointer;
}

.downloadForMenu {
    box-shadow: 0 0 5px 1px #d3d3d3;
    border-radius: 0.5rem;
    padding: 0.75rem 0.5rem;

    position: absolute;
    top: 7rem;
    left: 13.5rem;

    height: 13rem;
    width: 11.5rem;
    background-color: white;
    z-index: var(--normal-z-index);
}







