
.combineButton {
    --combine-button-width: 3rem;
    width: var(--combine-button-width);
    display: flex;
    position: relative;
}

.combineButton > button {

}

.combineButtonLeft {
    --combine-button-left-width: 1.75rem;
    width: var(--combine-button-left-width);
    border-right: 1px solid var(--borderColor-default);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.combineButtonRight {
    width: calc(var(--combine-button-width) -
    var(--combine-button-left-width));
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.copilotMenu {
    border: 1px solid black;
    border-radius: 0.5rem;
    position: absolute;
    top: 2.2rem;
    left: -12rem;

    padding: 0.75rem 1rem;
    height: 11.5rem;
    width: 15rem;

    z-index: var(--normal-z-index);
    background-color: white;
}

.copilotMenuTitle {
    margin-bottom: 0.5rem;
    font-size: 0.75rem;
}

.copilotMenuRowSpan {
    display: flex;
    height: 2rem;
    align-items: center;
}

.copilotMenuUpperRow {
    display: flex;
    align-items: center;
}

.copilotMenuBelowRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copilotMenuBelowRowDiv {
    display: flex;
}

