
.headerMiddleButtonList {
    display: flex;
    gap: 8px;
}

.withHoverText {
    position: relative;
}

.withHoverText:after {
    content: attr(data-tooltip);
    height: 2rem;
    font-size: 0.75rem;
    top: 2.2rem;
    padding: 0 0.75rem;
    left: -2.5rem;
    line-height: 2rem;

    background-color: black;
    color: white;
    white-space: nowrap;

    position: absolute;
    display: flex;
    align-items: center;
    border-radius: 0.5rem;

    opacity: 0;
    transition: opacity 0.3s;
}

.withHoverText:hover:after {
    opacity: 1;
}

.twoInnerButtonDiv:after {
    left: -1.25rem;
}
