@value --fill-height: 100vh;
@value --fill-width: 100vw;
@value --menu-width: 20rem;

.menuShow {
    opacity: 1;
}

.menuHide {
    opacity: 0;
    visibility: hidden;
}

.menuShowContainer {
    height: --fill-height;
    width: --fill-width;
    position: fixed;
    left: 0;
    top: 0;
    z-index: var(--one-z-index);
    background-color: rgba(190, 209, 213, 0.5);;
}

.menuContainer {
    display: flex;
}

.childrenBackDrop {
    height: --fill-height;
    width: calc(--fill-width - --menu-width);
}
