@value --fill-height: 100vh;
@value --fill-width: 100vw;

.showBoard {
    display: flex;
    justify-content: center;
}

.hideBoard {
    display: none;
}

.maskLayerContainer {
    height: --fill-height;
    width: --fill-width;
    position: fixed;
    z-index: var(--one-z-index);
    top: 0;
    left: 0;
    background-color: rgba(146, 152, 154, 0.5);;
}

.searchBoardContainer {
    margin-left: -13vw;
    margin-top: 5px;
    width: 73vw;
    height: 65vh;
    background-color: white;
    border-radius: 0.75rem;
    padding: 0.5rem 1rem;
    z-index: calc(var(--one-z-index) + 2);
    position: relative;
}

.backDrop {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: calc(var(--one-z-index) + 1);
    top: 0;
    left: 0;
    background-color: transparent;
}

.elementRow {
    display: flex;
    justify-content: space-between;
}

.boardBottomRow {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: calc(100% - 2rem);
}
