@value --fill-height: 100vh;
@value --fill-width: 100vw;
@value --boardBottomRowHeight: 2.5rem;

.showBoard {
    display: flex;
    justify-content: center;
}

.hideBoard {
    display: none;
}

.maskLayerContainer {
    height: --fill-height;
    width: --fill-width;
    position: fixed;
    z-index: var(--one-z-index);
    top: 0;
    left: 0;
    background-color: rgba(146, 152, 154, 0.5);;
}

.searchBoardContainer {
    margin-left: -13vw;
    margin-top: 5px;
    width: 73vw;
    height: calc(60vh);
    background-color: white;
    border-radius: 0.75rem;
    padding-top: 0.5rem;
    z-index: calc(var(--one-z-index) + 2);
}

.topSearchDiv {
    height: 2.25rem;
    margin: 0.3rem 1rem;
    border: 1px solid black;
    border-radius: 0.75rem;
}

.topSearchIcon {
    display: flex;
    width: 2.5rem;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.topSearchInput {
    border: none;
}

.repositoryContainer {
    overflow-y: scroll;
    height: calc(100% - 2.2 * --boardBottomRowHeight);
    padding: 0 1rem;
}

.line {
    margin-left: -1rem;
    margin-right: -1rem;
}

.section {
    margin-top: 0.5rem;
}

.sectionTitle {
    color: dimgrey;
    font-size: 0.7rem;
    font-weight: bold;
}

.elementRow {
    margin: 0.75rem 0;
    display: flex;
    justify-content: space-between;
    font-size: 0.85rem;
}

.elementRowTextLeft {
    margin-left: 0.5rem;
}

.elementRowTextRight {
    color: dimgrey;
}

.boardBottomRow {

    /*position: absolute;*/
    /*bottom: 0;*/
    height: --boardBottomRowHeight;
    padding: 0 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid grey;

    color: royalblue;
    font-size: 0.75rem;
}

.backDrop {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: calc(var(--one-z-index) + 1);
    top: 0;
    left: 0;
    background-color: transparent;
}
