
#feed-section-title {
    height: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#feed-section {
    margin: 1rem 0;
}

#feed-title {
    font-size: 0.8rem;
    font-weight: bold;
}

#feed-filter-button {
    height: 1.6rem;
    width: 4.5rem;
    background-color: var(--backgroundColor);
    border-radius: 0.5rem;
    border: 1px solid darkgray;
}

.feed-filter-span {
    margin-left: 0.5rem;
}

#feed-filter-button:hover {
    background-color: darkgray;
    cursor: pointer;
}

.feed-section-content {
    border: 1px solid darkgray;
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.feed-section-content-header {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    margin: 0.3rem 0;
    color: dimgrey;
}

.feed-section-content-header-left {
    display: flex;
}

.treading-icon {

}

.treading-title {
    padding: 0 0.5rem;
}

.treading-see-more {
    padding: 0 0.5rem;
    color: deepskyblue;
    text-decoration: none;
}

.dot-more {
    background-color: transparent;
    border: none;
    border-radius: 0.5rem;
}

.dot-more:hover {
    background-color: darkgray;
    cursor: pointer;
}

.hidden-span {
    display: block;
    height: 0;
    overflow: hidden;
}

.trending-section {
    margin: 0.5rem 0;
}

.trending-line {
    margin: 0.7rem -1rem;
}

.feed-user-icon {
    background-color: transparent;
    border: none;
    padding: 0;
}

.feed-user-name {
    padding-left: 0.5rem;
    font-size: 0.8rem;
}

.feed-title {
    align-items: center;
    justify-content: center;
}

.feed-right-button-list {
    border: 1px solid darkgray;
    border-radius: 0.3rem;
    overflow: hidden;
    display: flex;
}

.feed-right-button-star {
    --feed-right-button-height: 1.5rem;
    height: var(--feed-right-button-height);
    width: 5rem;
    background-color: var(--backgroundColor);
    border: none;
}

.feed-right-button-down {
    height: var(--feed-right-button-height);
    width: 2rem;
    margin-left: -0.4rem;
    background-color: var(--backgroundColor);
    border-left: 1px solid darkgray;
    border-top: none;
    border-bottom: none;
    border-right: none;
}

.down-icon {
    font-size: 0.6rem;
}

.star-text {
    margin-left: 0.5rem;
}

.feed-desc {
    margin: 0.3rem 0;
    padding: 0;
    font-size: 0.9rem;
}

.feed-bottom-button-list {
    margin-top: 0.5rem;
    align-items: center;
}

.feed-language {
    --feed-language-height: 1.2rem;
    --feed-language-font-size: 0.8rem;

    height: var(--feed-language-height);
    display: flex;
    align-items: center;
    font-size: var(--feed-language-font-size);
    line-height: var(--feed-language-font-size);
    padding-bottom: 0.1rem;
}


.feed-language-star {
    height: var(--feed-language-height);
    padding: 0;
    border: none;
    font-size: var(--feed-language-font-size);
    display: flex;
    align-items: center;
    background-color: transparent;
    margin-left: 1rem;
}

.star-count {
    margin-left: 0.3rem;
}

#feed-recommend-section {

}
