
.container {
    display: none;
}

.repositoryContainer {
    margin-top: 1rem;
    padding: 0.5rem 0.75rem;
    border: 1px solid black;
    border-radius: 0.5em;
}

@media (max-width: 768px) {
    .container {
        display: block;
    }
}
