
#content-footer {
    font-size: 0.7rem;
    padding: 3rem 0;
    align-items: center;
    color: grey;
    display: flex;
    justify-content: center;
    gap: 10px;

    flex-wrap: wrap;
    flex-direction: column-reverse;
}

@media (min-width: 1400px) {
    #content-footer {
        flex-wrap: nowrap !important;
        flex-direction: row !important;
    }
}

@media (min-width: 1000px) and (max-width: 1400px) {
    #content-footer {
        flex-wrap: nowrap !important;
        flex-direction: row !important;
    }
}

.bottom-github {
    font-size: 1.25rem;
    background-color: transparent;
    border: none;
}

.bottom-a {
    text-decoration: none;
    outline: none;
}

.bottom-a:visited {
    color: inherit;
    text-decoration: none;
}

.bottom-a:hover {
    color: deepskyblue;
    text-decoration: underline;
}
