.footerDivLeft, .footerDivRight {
    display: flex;
    gap: 10px;
    white-space: nowrap;
}

.footerDivLeft {

}

.footerLeftText {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerDivRight {
    flex-wrap: wrap;
    justify-content: center;
}

/* large */
@media (min-width: 1400px) {

}

/* big */
@media (min-width: 900px) and (max-width: 1400px) {

}

/* middle */
@media (min-width: 768px) and (max-width: 900px) {

}

/* small */
@media (max-width: 768px) {

}
