
#left-sidebar {
    padding: 2rem 1.5rem;
    border-right: 0.05rem solid darkgray;
    height: 100%;
    width: 17rem;
}

#left-sidebar-title {
    --left-common-height: 1.7rem;
    width: 100%;
    align-items: center;
    height: var(--left-common-height);
}

.left-sidebar-title-name {
    font-size: 0.8rem;
    font-weight: bold;
}

.left-sidebar-title-button-div {
    height: 100%;
}

.left-sidebar-title-button {
    height: 100%;
    width: 3.8rem;
    background-color: green;
    border: none;
    color: white;
    border-radius: var(--borderRadius-medium);
}

.new-button {
    margin-left: 0.25rem;
}

.find-rep-input {
    --find-rep-input-border: 0.1rem;
    width: calc(100% - 3 * var(--find-rep-input-border) - 0.6rem);
    border: var(--find-rep-input-border) solid var(--borderColor-default);
    padding: var(--find-rep-input-border);
    padding-left: 0.6rem;
    height: var(--left-common-height);
    margin: 0.7rem auto;
    border-radius: var(--borderRadius-medium);
    background-color: var(--backgroundColor);
    color: dimgrey;
}

.left-sidebar-ul {
    margin: 0;
}

.left-sidebar-li {
    display: flex;
    align-items: center;
    margin: 0.4rem auto;
}

.left-li-btn-div {
    width: 1.7rem;
}

.left-user-icon-button {
    width: 100%;
    height: var(--left-common-height);
    background-color: transparent;
    border: none;
    padding: 0;
}

.left-li-span-div {
    width: calc(100% - 2rem);
}

.left-user-project-name {
    width: 100%;
    height: var(--left-common-height);
    font-size: 0.85rem;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.left-show-more {
    border: none;
    background-color: transparent;
    font-size: 0.75rem;
    color: darkgray;
}

@media (max-width: 768px) {
    #left-sidebar {
        display: none;
    }
}

