
.contentDisplay {
    display: flex;
    min-height: 100vh;
    /*overflow: hidden;*/
}

.contentItem {
    min-height: 100vh;
}

.middleContent {
    flex: 75%;
}

.leftSideBar {
    flex: 15%;
}

.rightSideBar {

}
