/* 1400, 768 */

@media (min-width: 1400px) {
    .contentMedia {
        display: flex;
    }

    .contentItem {
        min-height: 100vh;
    }

    .rightSideBar {

    }

    .leftSideBar {
    }
}

@media (min-width: 768px) and (max-width: 1400px) {
    .contentMedia {
        display: flex;
    }

    .contentItem {
        min-height: 100vh;
    }

    .rightSideBar {
        display: none;
    }

    .leftSideBar {
    }
}

@media (max-width: 768px) {
    .contentMedia {
        display: block;
    }

    .contentItem {

    }

    .rightSideBar {
        display: none;
    }
}


.contentDisplay {
    min-height: 100vh;
}


.middleContent {
    flex: 100%;
}


