
#right-sidebar {
    flex: 17.5%;
    padding: 2rem 1.5rem;
}

#lastest-changes-container {
    border: 1px solid darkgray;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.lastest-changes-title {
    margin: 0.75rem;
    font-size: 0.8rem;
    font-weight: bold;
}

.change-ul {
    margin: 0;
    padding-bottom: 1.5rem;
}

.change-li {
    margin-top: 0.7rem;
    margin-left: 1rem;
    position: relative;
    display: flex;
}

.change-li-inner {
    padding-left: 1rem;
}

.change-li:before {
    height: 135%;
    width: 0.12rem;
    background-color: black;
    display: block;
    content: "";
    position: absolute;
    margin-top: 0.5rem;
}

.change-text {
    font-size: 0.9rem;
}

.change-li-circle-div {
    margin-top: -0.4rem;
    margin-left: -0.19rem;

}

.change-li-time {
    --change-li-color: grey;
    color: var(--change-li-color);
    font-size: 0.8rem;
}

.change-circle-icon {
    font-size: 0.5rem;
}

.changelog {
    color: var(--change-li-color);
    font-size: 0.7rem;
    margin-left: 0.35rem;
}

.last-li:before {
    height: 10%;
}

