.block-only-large {
    display: block;
}

.block-more-than-big {
    display: block;
}

.block-less-than-big {
    display: none;
}

.block-more-than-small {

}

.block-only-small {
    display: none;
}

/* large */
@media (min-width: 1400px) {

}

/* big */
@media (min-width: 900px) and (max-width: 1400px) {
    .block-only-large {
        display: none;
    }
}

/* middle */
@media (min-width: 768px) and (max-width: 900px) {
    .block-only-large {
        display: none;
    }

    .block-more-than-big {
        display: none;
    }

    .block-less-than-big {
        display: block;
    }
}

/* small */
@media (max-width: 768px) {
    .block-only-large {
        display: none;
    }

    .block-more-than-big {
        display: none;
    }

    .block-less-than-big {
        display: block;
    }

    .block-only-small {
        display: block;
    }

    .block-more-than-small {
        display: none !important;
    }
}
