ul {
    list-style: none;
}

.content-display {
    display: flex;

}

#header-nav {
    display: flex;
    justify-content: space-between;
}

#left-sidebar {
    flex: 25%;
}

#content {
    flex: 50%;
}

#right-sidebar {
    flex: 25%;
}

#left-sidebar-title {

}

.left-sidebar-li {
    display: flex;
}

#home-section {

}

#home-section-ask-copilot {
    display: flex;
}

#home-section-button-list {
    display: flex;
}

#feed-section-title {
    display: flex;
    justify-content: space-between;
}

.feed-section-content-header {
    display: flex;
    justify-content: space-between;
}

.feed-section-content-header-left {
    display: flex;
}

.display-flex {
    display: flex;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
}
