
#content {
    box-sizing: border-box;
    padding: 2.5rem 2.5rem;
    flex: 50%;
}

#home-title {
    font-size: 1.5rem;

}

#home-section-ask-copilot {
    display: flex;
    width: 100%;
    border: 0.05rem solid darkgray;
    border-radius: 0.5rem;
    margin: 1rem 0;
}

.ask-copilot-input {
    height: 2.5rem;
    padding: 0 0.7rem;
    border: none;
    border-radius: 0.5rem;
    width: calc(100% - 2.5rem);
}

.ask-copilot-button {
    width: 2.5rem;
    height: 2.6rem;
    padding: 0;
    border: none;
    background-color: transparent;
}

#home-section-button-list {
    display: flex;
    margin: 0.5rem 0;
}

#home-section-button-list > button {
    height: 2.5rem;
    padding: 0.7rem;
    margin-right: 0.5rem;
    font-size: 0.8rem;
    background-color: transparent;
    border: 0.05rem solid darkgray;
    border-radius: 1rem;
    box-shadow: 1px 1px var(--borderColor-default);
    transition-duration: 0.2s;
}

#home-section-button-list > button:hover {
    background-color: darkgray;
    cursor: pointer;
}

.home-section-span {
    margin: 0 0.2rem;
}

.home-section-icon-first {
    color: purple;
}

.home-section-icon-second {
    color: darkgray;
}

.home-section-icon-third {
    color: green;
}

#feed-section-title {
    height: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#feed-section {
    margin: 1rem 0;
}

#feed-title {
    font-size: 0.8rem;
    font-weight: bold;
}

#feed-filter-button {
    height: 1.6rem;
    width: 4.5rem;
    background-color: var(--backgroundColor);
    border-radius: 0.5rem;
    border: 1px solid darkgray;
}

#feed-filter-button:hover {
    background-color: darkgray;
    cursor: pointer;
}

.feed-section-content {
    border: 1px solid darkgray;
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.feed-section-content-header {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    margin: 0.3rem 0;
    color: dimgrey;
}

.feed-section-content-header-left {
    display: flex;
}

.treading-icon {

}

.treading-title {
    padding: 0 0.5rem;
}

.treading-see-more {
    padding: 0 0.5rem;
    color: deepskyblue;
    text-decoration: none;
}

.dot-more {
    background-color: transparent;
    border: none;
    border-radius: 0.5rem;
}

.dot-more:hover {
    background-color: darkgray;
    cursor: pointer;
}

.hidden-span {
    display: block;
    height: 0;
    overflow: hidden;
}

.trending-section {
    margin: 0.5rem 0;
}

.trending-line {
    margin: 0.7rem -1rem;
}

.feed-user-icon {
    background-color: transparent;
    border: none;
    padding: 0;
}

.feed-user-name {
    padding-left: 0.5rem;
    font-size: 0.8rem;
}

.feed-title {
    align-items: center;
    justify-content: center;
}

.feed-right-button-list {
    border: 1px solid darkgray;
    border-radius: 0.3rem;
    overflow: hidden;
    display: flex;
}

.feed-right-button-star {
    height: calc(1.5rem);
    width: 5rem;
    background-color: var(--backgroundColor);
    border: none;
}

.feed-right-button-down {
    height: calc(1.5rem);
    width: 2rem;
    margin-left: -5px;
    background-color: var(--backgroundColor);
    border-left: 1px solid darkgray;
    border-top: none;
    border-bottom: none;
    border-right: none;
}

.down-icon {
    font-size: 0.6rem;
}

.star-text {
    margin-left: 0.5rem;
}

.feed-desc {
    margin: 0.3rem 0;
    padding: 0;
    font-size: 0.9rem;
}

.feed-bottom-button-list {
    margin-top: 0.5rem;
    align-items: center;
}

.feed-language {
    height: 1.2rem;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    line-height: 0.8rem;
    padding-bottom: 0.1rem;
}


.feed-language-star {
    height: 1.2rem;
    padding: 0;
    border: none;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    background-color: transparent;
    margin-left: 1rem;
}

.star-count {
    margin-left: 0.3rem;
}

#feed-recommend-section {

}

