
#right-sidebar {
    flex: 17.5%;
    padding: 2rem 1.5rem;
}

#lastest-changes {
    border: 1px solid darkgray;
}

.change-li {
    margin-left: 1rem;
    position: relative;
    display: flex;
}

.change-li-inner {
    padding-left: 1rem;
}

.change-li:before {
    height: 100%;
    width: 3px;
    background-color: black;
    display: block;
    content: "";
    position: absolute;
    margin-top: 0.5rem;
}

.change-text {
    margin-left: 0.5rem;
}

.change-li-circle-div {
    margin-left: -0.375rem;
}


