
#right-sidebar {
    flex: 17.5%;
    padding: 2rem 1.5rem;
}

#lastest-changes-container {
    border: 1px solid darkgray;
    border-radius: 0.5rem;
}

.lastest-changes-title {
    margin: 0.75rem;
    font-size: 0.8rem;
    font-weight: bold;
}

.change-ul {
    margin: 0;
    padding-bottom: 1.5rem;
}

.change-li {
    margin-left: 1rem;
    position: relative;
    display: flex;
}

.change-li-inner {
    padding-left: 1rem;
}

.change-li:before {
    height: 100%;
    width: 0.12rem;
    background-color: black;
    display: block;
    content: "";
    position: absolute;
    margin-top: 0.5rem;
}

.change-text {

}

.change-li-circle-div {
    margin-left: -0.32rem;
}

.change-circle-icon {
    font-size: 0.75rem;
}

.changelog {
    margin-left: 0.5rem;
}


